<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Hotel_image</title> 

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    .nov{
  height:80px;
  wight:100%;
  background-color:pink;
  padding:10px;
  margin-bottom:20px;
}
.nov h3{
  margin-top:0px;
  color:black;
}
    </style>
</head> 
<body> 
<div class="nov">  <center><h3> All india historial places </h3></center> </div>
    <form method = "POST" enctype="multipart/form-data"> 
        {% csrf_token %} 
      
       {{fm}}
        <button type="submit">Upload</button> 
    </form> 
       
  <a href="{% url "hotel_images" %}">show image</a>
</body> 
</html> 